.stats__card {
    padding: 15px 25px;

    width: 258px;
    height: 124px;

    @include flexbox($align: center, $gap: 20px);

    background: $card-bg;
    border-radius: 5px;

    .stats__text-container {
        @include flexbox($direction: column, $gap: 5px);

        .stats__text {
            @include text($fontSize: 20px, $fontWeight: 700);
            color: $grey-1;
        }

        .stats__subtext {
            @include text($fontSize: 14px, $fontWeight: 500);
            color: $grey-3;
        }
    }

    img {
        padding: 20px;
        border-radius: 5px;
    }

    .statsimg__0 {
        background: rgba(255, 0, 0, 0.171);
    }

    .statsimg__1 {
        background: #4ab7ff1e;
    }

    .statsimg__2 {
        background: #fdcd0c36;
    }

    .statsimg__3 {
        background: #fd51822a;
    }
}